## mac os
.DS_Store

## textmate
*.tmproj
tmtags

## emacs
*~
\#*
.\#*

## vim
*.swp

## project::general
coverage
rdoc
pkg
*.gemspec

## cucumber
rerun.txt

## ctags
tags

## project::specific
tmp/fixtures
tmp/aruba
